RewriteEngine On
RewriteBase /travelNepal/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<Files ".env">
    Require all denied
</Files>

RewriteCond %{REQUEST_FILENAME} \.php$
RewriteCond %{REQUEST_URI} ^/(config|includes|data)/.*\.php$
RewriteRule ^(.*)$ - [F,L]
