run = "php -S 0.0.0.0:8000 -t ."

entrypoint = "index.php"
modules = ["php-8.2", "nodejs-20", "nix", "php82"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["php", "-S", "0.0.0.0:5000", "-t"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42945
externalPort = 3000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "travelNepal Server"

[[workflows.workflow]]
name = "travelNepal Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."
waitForPort = 5000
